<!--
  Generated template for the DetalleFacturaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title text-center>HISTORIAL DE PAGO</ion-title>
        <ion-buttons left>
            <button ion-button icon-only navPop>
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>


<ion-content>

    <ion-grid class="page-empty" *ngIf="ListaCobros.length == 0">
        <ion-row align-items-center>
            <ion-col col-12>
                <h3 text-center>
                    <ion-icon name="card"></ion-icon>
                </h3>
                <h4 text-center>No existen registros de cobro</h4>
                <h5 text-center>¿Desea añadir un nuevo cobro?</h5>
                <p text-center>
                    <button ion-button color="secondary" (click)="anadirCobro()">
                      Registrar
                    </button>
                </p>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid class="gridData" *ngIf="ListaCobros.length != 0">
        <ion-row class="cabezera">
            <ion-col col-3>
                Fecha
            </ion-col>
            <ion-col col-3>
                Forma Pago
            </ion-col>
            <ion-col class="numeroResaltado" col-3>
                Valor
            </ion-col>
            <ion-col class="numeroResaltado" col-3>
                Saldo
            </ion-col>
        </ion-row>
        <ion-row class="cuerpo" *ngFor="let item of ListaCobros" (click)="editarRegistro(item)">
            <ion-col col-3>
                {{item.Fecha | date: 'mediumDate'}}
            </ion-col>
            <ion-col col-3>
                {{item.FormaPago}}
            </ion-col>
            <ion-col class="numeroResaltado" col-3>
                $ {{item.Valor | redondear}}
            </ion-col>
            <ion-col class="numeroResaltado" col-3>
                $ {{item.Saldo | redondear}}
            </ion-col>
        </ion-row>

    </ion-grid>
</ion-content>

<ion-footer *ngIf="ListaCobros.length != 0">
    <ion-toolbar color="light">
        <ion-buttons left>
            <strong>
          SALDO&nbsp;:&nbsp;
          <span>$ {{Factura.Total - sumaCtsCobrar | redondear}}</span>
        </strong>
        </ion-buttons>
        <ion-buttons right>
            <button ion-button solid color="secondary" (click)="anadirCobro()" *ngIf="Factura.Total - sumaCtsCobrar!=0" >
                Añadir Cobro
            </button>
            <button ion-button navPop solid color="secondary" *ngIf="Factura.Total - sumaCtsCobrar==0">
                Regresar
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>