<!--
  Generated template for the ConfiguracionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title text-center>CONFIGURACIONES</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>

    <ion-list class="listaItem">

        <ion-list-header>
            Servidor
        </ion-list-header>
        <ion-item>
            <ion-label color="primary" stacked>Direccion IP: </ion-label>
            <ion-input placeholder="192.168.0.2 o www.pagina.com" [(ngModel)]="IP"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Habilitar Puerto</ion-label>
            <ion-toggle (ionChange)="isDisabledTog = !isDisabledTog"></ion-toggle>
        </ion-item>
        <ion-item *ngIf="isDisabledTog">
            <ion-label color="primary" stacked>Puerto: </ion-label>
            <ion-input type="number" placeholder="12345" [(ngModel)]="Puerto"></ion-input>
        </ion-item>

        <ion-list-header>
            Sincronizacion
        </ion-list-header>
        <ion-item>
            <ion-label>Fecha de la ultima sincronizacion</ion-label>
            <ion-datetime text-end displayFormat="DD/MM/YYYY" [(ngModel)]="fechaSincro.Objeto" [disabled]="true"></ion-datetime>
        </ion-item>
        <ion-item>
            <ion-label>Hora de la ultima sincronizacion</ion-label>
            <ion-datetime text-end displayFormat="HH:mm:ss" [(ngModel)]="fechaSincro.Objeto" [disabled]="true"></ion-datetime>
        </ion-item>
        <ion-item>
            <ion-label>Colleccion de Datos:</ion-label>
            <ion-label text-end>{{sqlman.nameBD}}</ion-label>
        </ion-item>
        <ion-item *ngIf="!isDisabled">
            <ion-label>Sincronizar con el servidor</ion-label>
            <img src="../../assets/icon/sincronizar.png" outline ion-button item-right (click)="subirInformacion()">
        </ion-item>

        <ion-list-header>
            Personalizacion
        </ion-list-header>

        <ion-item>
            <ion-label>Indicar Montos Anteriores de Pago</ion-label>
            <ion-toggle [(ngModel)]="EstadoMC.Estado"></ion-toggle>
        </ion-item>
    </ion-list>

</ion-content>

<ion-footer>
    <ion-toolbar>
        <button ion-button block color="secondary" (click)="guardarDatos()">Guardar</button>
    </ion-toolbar>
</ion-footer>