page-configuracion {
    .listaConfiguracion {
        .item {
            .texto {
                word-wrap: break-word;
                white-space: normal;
                align-self: center;
            }
            .obj {
                display: inline-flex;
                align-self: center;
            }
        }
    }
}